.details{
padding:3rem 2.5rem;
width:100%;
margin:0 auto;
position:relative;
background-color:#7b2cbf;
}
.card{
text-align:center;
line-height:2;
}
.card i{
font-size:1.6rem;
color:#fff;
}
.card h4{
color:#fff;
font-size:1.5rem;
}
.card h6{
color:#fff;
font-size:1rem;
font-weight:450;
}