.footer{
padding:5rem 1.5rem;
background-color:#7b2cbf;
}
.footer-row{
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-gap:1rem;
align-items:initial;
}
.footer-logo{
color:#fff;
text-decoration:none;
font-size:1.7rem;
font-weight:650;
letter-spacing:1px;
}
.footer-item{
.footer-links{
margin-top:1.5rem;
display:flex;
flex-direction:column;
a{
text-decoration:none;
color:#fff;
padding-bottom:.85rem;
font-size:.95rem;
font-weight:400;
i{
padding-right:1rem;
font-size:1.4rem;
}
}
}
h4{
color:#fff;
font-weight:700;
letter-spacing:2px;
font-size:1.3rem;
}
}
@media(max-width:600px){
    .footer-row{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:3rem;
    align-items:initial;
    }
}