.navigation{
padding:2rem .5rem;
position:absolute;
top:0;
left:0;
width:100%;
z-index:5;
}
.logo{
text-decoration:none;
color:#fff;
letter-spacing:1px;
font-size:1.5rem;
font-weight:700;
}
.nav-click{
display:none;
}
.logo i{
color:#7b2cbf;
}
.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
}
.nav-list{
display:flex;
list-style-type:none;
}
.nav-item{
padding-right:2rem;
}
.nav-link{
color:#fff;
text-decoration:none;
position:relative;
}
.nav-link:hover{
color:#7b2cbf;
transition:.25s ease-in;
}
.nav-link::after{
content:'';
position:absolute;
bottom:-5px;
left:0;
width:0;
border:1px solid #7b2cbf;
transition:.5s ease-in;
}
.nav-link:hover::after{
width:100%;
transition:.5s ease-in;
}
@media(max-width:600px){
.navigation{
padding:.9rem .5rem;
position:absolute;
top:0;
left:0;
width:100%;
z-index:5;
}
.nav-list{
display:none;
}
.nav-link.active{
font-size:1.5rem;
}
.nav-item.active{
padding-bottom:1.9rem;
padding-right:0rem;
}
.nav-list.active{
display:flex;
justify-content:center;
align-items:center;
position:fixed;
top:60px;
left:0;
bottom:0;
right:0;
background-color:#7b2cbf;
flex-direction:column;
z-index:10;
}
.nav-click{
color:#fff;
display:block;
font-size:1.5rem;
}
}