html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

.navigation {
  padding: 2rem .5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.logo {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-click {
  display: none;
}

.logo i {
  color: #7b2cbf;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-item {
  padding-right: 2rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: #7b2cbf;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  border: 1px solid #7b2cbf;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.nav-link:hover::after {
  width: 100%;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

@media (max-width: 600px) {
  .navigation {
    padding: .9rem .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .nav-list {
    display: none;
  }
  .nav-link.active {
    font-size: 1.5rem;
  }
  .nav-item.active {
    padding-bottom: 1.9rem;
    padding-right: 0rem;
  }
  .nav-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #7b2cbf;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
  }
  .nav-click {
    color: #fff;
    display: block;
    font-size: 1.5rem;
  }
}

.header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.899597)), color-stop(100%, rgba(0, 0, 0, 0.473827)), color-stop(100%, rgba(0, 0, 0, 0.151698)), to(rgba(0, 0, 0, 0.501838))), url("./images/school.jpeg");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.899597) 0%, rgba(0, 0, 0, 0.473827) 100%, rgba(0, 0, 0, 0.151698) 100%, rgba(0, 0, 0, 0.501838) 100%), url("./images/school.jpeg");
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-text {
  width: 60%;
}

.header-text h1 {
  color: #fff;
  font-size: 3.1rem;
  line-height: 1;
  margin-bottom: 1rem;
  letter-spacing: -1px;
}

.header-text h1 i {
  color: #7b2cbf;
}

.header-text h5 {
  color: rgba(255, 255, 255, 0.705);
  font-size: 1.05rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.header-btn {
  text-decoration: none;
  color: #fff;
  background-color: #7b2cbf;
  padding: .8rem 1.4rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.header-btn i {
  padding-left: .5rem;
}

.details-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

@media (max-width: 600px) {
  .header-text {
    width: 100%;
  }
  .header-text h1 {
    font-size: 1.75rem;
  }
  .header-text h5 {
    font-size: .85rem;
  }
  .details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

.details {
  padding: 3rem 2.5rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #7b2cbf;
}

.card {
  text-align: center;
  line-height: 2;
}

.card i {
  font-size: 1.6rem;
  color: #fff;
}

.card h4 {
  color: #fff;
  font-size: 1.5rem;
}

.card h6 {
  color: #fff;
  font-size: 1rem;
  font-weight: 450;
}

.about {
  padding: 10rem 2.5rem;
  background-color: #f5f5f5;
}

.about-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-50 h3 {
  font-size: 2rem;
  color: #242424;
  font-weight: 550;
  padding-bottom: .2rem;
}

.about-50 p {
  font-size: 1.1rem;
  padding-bottom: 2rem;
  color: #757575;
  font-weight: 300;
}

.about-50 hr {
  margin-bottom: 2rem;
  width: 15%;
  border: 2px solid #7b2cbf;
}

.about-50 img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .about-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .about-50 img {
    width: 100%;
    height: auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.fondatori {
  padding: 0 2.5rem;
  padding-bottom: 4rem;
  background-color: #f5f5f5;
}

.fondator-text {
  text-align: center;
}

.fondator-text h3 {
  font-size: 2.1rem;
  color: #242424;
  font-weight: 550;
  letter-spacing: 1px;
}

.founder-group {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  overflow: hidden;
}

.founder:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.founder-text {
  height: 25%;
  margin-top: 2rem;
  padding: 3rem 2rem;
  width: 80%;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.founder-text h6 {
  padding-top: .8rem;
  font-size: .9rem;
}

.founder-img {
  width: 80%;
  height: 50%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.founder-img img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .fondator-text h3 {
    font-size: 1.5rem;
    color: #242424;
    font-weight: 550;
    letter-spacing: 1px;
  }
  .founder-group {
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

.prices {
  background-color: #fff;
  padding: 6rem 2.5rem;
}

.prices-text {
  text-align: center;
}

.prices-text hr {
  width: 15%;
  border: 2px solid #7b2cbf;
  margin: 0 auto;
}

.prices-text h3 {
  padding-bottom: 0.6rem;
  font-size: 1.8rem;
  color: #242424;
  font-weight: 550;
}

.prices-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10rem;
  margin-top: 3rem;
}

.price-card {
  background-color: #f5f5f5;
  padding: 3rem 1.5rem;
  text-align: center;
}

.price-card h3 {
  font-size: 0.85rem;
  color: #242424;
  font-weight: 650;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.price-card h1 {
  padding-top: 1rem;
  color: #7b2cbf;
  letter-spacing: 1px;
  font-size: 1.65rem;
  padding-bottom: 1rem;
}

.price-card h6 {
  padding-bottom: 15px;
  color: #121212;
  font-size: .8rem;
}

.price-card a {
  margin-top: 2rem;
  text-decoration: none;
}

.nu {
  text-decoration: line-through;
  color: #f5f5f5;
}

.price-btn {
  background-color: #7b2cbf;
  color: #fff;
  padding: .5rem 1.5rem;
}

@media (max-width: 600px) {
  .prices-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10rem;
    margin-top: 3rem;
  }
}

.faq {
  background-color: #7b2cbf;
  padding: 7.5rem 2.5rem;
}

.faq-text {
  text-align: center;
}

.faq-text h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 550;
  letter-spacing: 1px;
}

.faq-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.faq-item {
  margin-top: 2rem;
  background-color: #fff;
  padding: 1.35rem 3rem;
}

.faq-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-question h3 {
  padding-right: 8rem;
  color: #7b2cbf;
  font-size: 1rem;
}

.faq-answer {
  padding-top: 2rem;
  display: none;
}

.faq-answer h5 {
  color: #c77dff;
  font-size: 1rem;
  font-weight: 500;
}

.faq-answer.active {
  display: block;
}

@media (max-width: 600px) {
  .faq-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .faq-item {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1.35rem 1rem;
  }
  .faq-question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .faq-question h3 {
    padding-right: 1rem;
    color: #7b2cbf;
    font-size: .8rem;
  }
}

.contact {
  background-color: #fff;
  padding: 5rem 1.5rem;
}

.contact-text {
  text-align: center;
}

.contact-text h2 {
  color: #242424;
}

.contact-row {
  margin-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-tabel {
  background-color: #7b2cbf;
  padding: 3rem 2.5rem;
}

.contact-tabel h3 {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 550;
}

.contact-grid {
  margin-top: 4rem;
}

.contact-grid h4 {
  color: #fff;
  padding-bottom: 1.8rem;
  font-weight: 500;
}

.contact-grid h4 i {
  padding-right: 2rem;
}

@media (max-width: 600px) {
  .contact-text h2 {
    color: #242424;
    font-size: 1.4rem;
  }
  .contact-row {
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-row .contact-item iframe {
    width: 100%;
    height: auto;
  }
  .contact-tabel {
    background-color: #7b2cbf;
    padding: 1.5rem 1.5rem;
    width: 100%;
  }
  .contact-tabel h3 {
    color: #fff;
    font-size: .95rem;
    letter-spacing: 1px;
    font-weight: 550;
  }
  .contact-grid {
    margin-top: 4rem;
  }
  .contact-grid h4 {
    color: #fff;
    padding-bottom: 1.8rem;
    font-weight: 500;
    font-size: .85rem;
  }
  .contact-grid h4 i {
    padding-right: 1rem;
  }
}

.footer {
  padding: 5rem 1.5rem;
  background-color: #7b2cbf;
}

.footer-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.footer-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 650;
  letter-spacing: 1px;
}

.footer-item .footer-links {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-item .footer-links a {
  text-decoration: none;
  color: #fff;
  padding-bottom: .85rem;
  font-size: .95rem;
  font-weight: 400;
}

.footer-item .footer-links a i {
  padding-right: 1rem;
  font-size: 1.4rem;
}

.footer-item h4 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .footer-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 3rem;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
/*# sourceMappingURL=index.css.map */